# This is used to build the CI test environment and so Github can track dependencies.
xarray==2025.1.2
pandas==2.3.3
numpy==2.4.0
matplotlib==3.10.1
dask[array, distributed]==2025.2.0
requests==2.32.5
statsmodels==0.14.6
pytest==8.4.2
pytest-cov==7.0.0
zarr==2.18.4
ruff==0.8.6
netcdf4==1.7.2
h5netcdf==1.7.3
impactlab-tools==0.6.0
p_tqdm==1.4.2
pyarrow==21.0.0
numcodecs==0.15.1
