# This is used to build the CI test environment and so Github can track dependencies.
xarray==2023.10.1
pandas==2.1.3
numpy==1.26.1
matplotlib==3.8.0
dask[array, distributed]==2023.11.0
requests==2.31.0
statsmodels==0.14.0
pytest==7.4.3
pytest-cov==4.1.0
zarr==2.16.1
black==23.10.1
ruff==0.1.1
netcdf4==1.6.5
h5netcdf==1.2.0
impactlab-tools==0.5.0
p_tqdm==1.4.0
pyarrow==13.0.0
