# This is used to build the CI test environment and so Github can track dependencies.
xarray==2023.8.0
pandas==2.0.3
numpy==1.25.2
matplotlib==3.7.2
dask[array, distributed]==2023.8.0
requests==2.31.0
statsmodels==0.14.0
pytest==7.4.0
pytest-cov==4.1.0
zarr==2.16.0
black==23.7.0
ruff==0.0.282
netcdf4==1.6.4
h5netcdf==1.2.0
impactlab-tools==0.4.0
p_tqdm==1.4.0
pyarrow==12.0.1
